@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-color: #ffffff;
  --card-border-color: #e6e6e6;
  --error-color: #d86161;
  --font-color: #212121;
  --placeholder-color: #7a7a7a;
  --primary-color: #1597e4;
  --primary-hover-color: #1075b1;
  --white-color: #fafafa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
